@font-face {
    font-family: 'Mulish-SemiBold';
    /*src: url({{asset('fonts/Mulish-SemiBold.ttf')}});*/
    src: url("/fonts/Mulish-SemiBold.ttf");
}

.sec7pc {
    display: block;
    text-align: center;
    /*height: 100vh;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    background-image: url("/images/BG-7.png");
}

.headersec7pc {
    width: 30vw;
    margin-top: 2%;
}

.contentsec7pc {
    width: 75vw;
}

.footersec7pc {
    /*width: 100vw;*/
    /*bottom: 0;*/
    position: absolute;
    margin: 25% 0 0 0 ;
}

.sec7mb {
    display: none;
}

@media screen and (max-width: 1100px) {
    .sec7pc {
        display: none;
    }
    .sec7mb {
        display: block;
        background-image: url("/images/backgroundsec7mb.png");
        text-align: center;
        width: 100vw;
        /*height: 120vh;*/
    }
    .headersec7mb {
        margin-top: 5%;
        width: 75vw;
        margin-left: -10%;
    }
    .line1sec7mb {
        width: 85vw;
        margin-left: 5%;
        margin-top: 3%;
    }
    .line6sec7 {
        width: 88vw;
        margin-left: 4%;
        margin-top: 3%;
    }
    .testlinesec7mb {
        text-align: justify;
        font-family: 'Mulish-SemiBold', sans-serif;
        width: 65vw;
        font-size: 14px;
        margin-top: -18%;
        margin-left: 27%;
    }
    .testline2sec7mb {
        text-align: justify;
        font-family: 'Mulish-SemiBold', sans-serif;
        width: 65vw;
        font-size: 14px;
        margin-top: -18%;
        margin-left: 27%;
    }
    .testline3sec7mb {
        text-align: justify;
        font-family: 'Mulish-SemiBold', sans-serif;
        width: 65vw;
        font-size: 14px;
        margin-top: -3%;
        margin-left: 23%;
    }
    .testline3sec7mb li {
        color: red;
    }
    .testline3sec7mb li span {
        color: black;
    }
    .testline4sec7mb {
        text-align: justify;
        font-family: 'Mulish-SemiBold', sans-serif;
        width: 65vw;
        font-size: 14px;
        margin-top: -13%;
        margin-left: 27%;
    }
    .testline5sec7mb {
        text-align: justify;
        font-family: 'Mulish-SemiBold', sans-serif;
        width: 65vw;
        font-size: 14px;
        margin-top: -16%;
        margin-left: 27%;
    }
    .testline6sec7mb {
        text-align: justify;
        font-family: 'Mulish-SemiBold', sans-serif;
        width: 65vw;
        font-size: 14px;
        margin-top: -24%;
        margin-left: 27%;
    }
    .footersec7mb {
        width: 100vw;
        bottom: 0;
    }
}
