@font-face {
    font-family: 'BeautiqueDisplay-Black-BF63fd5fa82b67d';
    src: url("/fonts/BeautiqueDisplay-Black-BF63fd5fa82b67d.otf") format("opentype");
}

@font-face {
    font-family: 'BeautiqueDisplay-Light-BF63fd5fa808682';
    src: url("/fonts/BeautiqueDisplay-Light-BF63fd5fa808682.otf") format("opentype");
}

@font-face {
    font-family: 'Mulish-SemiBold';
    src: url("/fonts/Mulish-SemiBold.ttf") format("opentype");
}


body {
    overflow-x: hidden;
}



.section1 {
    background-image: url("/images/backgroundSec1.png");
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
@supports (-webkit-touch-callout: none) {
    @media not all and (min-resolution:.001dpcm) {
        /* Safari 9+ */
        .section1 {
            height: var(--window-height);
        }
    }
}

.backGround1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.logoCen {
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(17, 21, 35, 0.9);
    transition: background-color 1000s ease;
}

.menu {
    display: none;
}

.cenlogo {
    position: relative;
    width: 15vw;
    height: 10vw;
margin-top: -2.2%;
    /*bottom: -80px;*/
    opacity: 100%;
}

.name {
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 7%;
}

.introName {
    width: 45vw;
}

.line1 {
    margin-top: 4%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slogan1 {
    width: 47vw;
}


.line2 {
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slogan2 {
    width: 38vw;
}

.sloganmb {
    display: none;
}

.button1Pos {
    display: flex;
    position: relative;
    justify-content: center;
}

.button1 {
    margin-top: 5%;
    width: 30vw;
    height: 9vh;
    background: #E7C57E;
}

.buttonIMG {
    width: 25vw;
}

.iconfb {
    margin-top: 12%;
    position: fixed;
    width: 4vw;
    right: 1.5%;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
    z-index: 9999;
}

.icontiktok {
    margin-top: 19.5%;
    right: 1.5%;
    position: fixed;
    width: 4vw;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
    z-index: 9999;
}

.iconzalo {
    margin-top: 27%;
    right: 1.5%;
    position: fixed;
    width: 4vw;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
    z-index: 9999;
}

.phone {
    display: inline;
    position: fixed;
    right: 1.5%;

    z-index: 9999;
}

.phoneNumber {
    width: 12vw;
}

.phoneIcon {
    width: 4vw;
}

ul.hide {
    display: none;
}

ul.iconmb {
    /*display: none;*/
    position: fixed;
    background: rgba(18, 22, 36, 0.9); /* Chỉnh độ mờ thành 90% */
    width: 100vw;
    height: 100vh;
    z-index: 999;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .iconpc {
        display: none;
    }
    .iconmb {
        display: block;
        text-align: center;
    }
    .logoCen {
        margin-top: -3%;
        position: relative;
        display: flex;
        align-items: center;
        opacity: 90%;
        height: 8%;
        transition: background-color 0.5s ease;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .cenlogo {
        position: relative;
        width: 40vw;
        height: 25vw;
        margin: 0 auto;
        margin-top: 2%;
        transform: translateX(20%);
        bottom: 0
    }
    .contact {
        display: flex;
        justify-content: center;
    }
    .iconfb {
        position: absolute;
        transform: translateX(-140%);
        width: 25vw;
        margin-top: 33%;
        z-index: 99999;
    }
    .icontiktok {
        position: absolute;
        transform: translateX(-140%);
        width: 25vw;
        margin-top: 78%;
        z-index: 99999;
    }
    .iconzalo {
        position: absolute;
        transform: translateX(-140%);
        width: 25vw;
        margin-top: 128%;
        z-index: 99999;
    }
    .menu {
        display: block;
        width: 7vw;
        margin-right: 5%;
    }
    .name {
        display: none;
    }
    .line1 {
        display: none;
    }
    .line2 {
        display: none;
    }
    .sloganmb {
        display: block;
        margin-top: 50%;
    }
    .namemb {
        display: flex;
        justify-content: center;
    }
    .introNameMb {
        width: 70vw;
    }
    .line12Mb {
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }
    .slogan12mb {
        width: 75vw;
    }
    .button1 {
        margin-top: 25%;
        width: 55vw;
        height: 6vh;
    }
    .buttonIMG {
        width: 50vw;
    }
    a.phone {
        text-decoration: none;
        position: fixed;
        bottom: 2%;
        right: 2%;
    }
    .phoneIcon {
        width: 12vw;
    }
    .phoneNumber {
        width: 37vw;
    }
}
