@font-face {
    font-family: 'BeautiqueDisplay-Black-BF63fd5fa82b67d';
    src: url("/font/BeautiqueDisplay-Black-BF63fd5fa82b67d.otf") format("opentype");
}

@font-face {
    font-family: 'BeautiqueDisplay-Light-BF63fd5fa808682';
    src: url("/font/BeautiqueDisplay-Light-BF63fd5fa808682.otf") format("opentype");
}

@font-face {
    font-family: 'Mulish-SemiBold';
    src: url("/font/Mulish-SemiBold.ttf") format("opentype");
}

.section1 {
    background-image: url("/images/backgroundSec1.png");
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.backGround1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.logoCen {
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(17, 21, 35, 0.9);
    transition: background-color 1000s ease;
}

.menu {
    display: none;
}

.cenlogo {
    position: absolute;
    width: 25vw;
    bottom: -100px;
    opacity: 100%;
}

.name {
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 7%;
}

.introName {
    width: 50vw;
}

.line1 {
    margin-top: 4%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slogan1 {
    width: 52vw;
}


.line2 {
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slogan2 {
    width: 43vw;
}

.sloganmb {
    display: none;
}

.button1Pos {
    display: flex;
    position: relative;
    justify-content: center;
}

.button1 {
    margin-top: 5%;
    width: 30vw;
    height: 9vh;
    background: #E7C57E;
}

.buttonIMG {
    width: 25vw;
}

.iconfb {
    margin-top: 12%;
    position: fixed;
    width: 4vw;
    right: 1.5%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 9999;
}

.icontiktok {
    margin-top: 19.5%;
    right: 1.5%;
    position: fixed;
    width: 4vw;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 9999;
}

.iconzalo {
    margin-top: 27%;
    right: 1.5%;
    position: fixed;
    width: 4vw;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 9999;
}

.phone {
    display: inline;
    position: fixed;
    right: 1.5%;

    z-index: 9999;
}

.phoneNumber {
    width: 12vw;
}

.phoneIcon {
    width: 4vw;
}

ul.hide {
    display: none;
}

ul.iconmb {
    /*display: none;*/
    position: fixed;
    background: #121624;
    opacity: 90%;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .iconpc {
        display: none;
    }
    .iconmb {
        display: block;
    }
    .logoCen {
        margin-top: -3%;
        position: relative;
        display: flex;
        align-items: center;
        opacity: 90%;
        height: 8%;
        transition: background-color 0.5s ease;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .cenlogo {
        position: relative;
        width: 50vw;
        margin: 0 auto;
        margin-top: 5%;
        transform: translateX(20%);
        bottom: 0
    }

    .contact {
        display: flex;
        justify-content: center;
    }
    .iconfb {
        position: absolute;
        transform: translateX(-100%);
        width: 30vw;
        margin-top: 30%;
        z-index: 99999;
    }
    .icontiktok {
        position: absolute;
        transform: translateX(-100%);
        width: 30vw;
        margin-top: 75%;
        z-index: 99999;
    }
    .iconzalo {
        position: absolute;
        transform: translateX(-100%);
        width: 30vw;
        margin-top: 120%;
        z-index: 99999;
    }
    .menu {
        display: block;
        width: 7vw;
        margin-right: 5%;
    }
    .name {
        display: none;
    }
    .line1 {
        display: none;
    }
    .line2 {
        display: none;
    }
    .sloganmb {
        display: block;
        margin-top: 50%;
    }
    .namemb {
        display: flex;
        justify-content: center;
    }
    .introNameMb {
        width: 70vw;
    }
    .line12Mb {
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }
    .slogan12mb {
        width: 60vw;
    }
    .button1 {
        margin-top: 25%;
        width: 55vw;
        height: 6vh;
    }
    .buttonIMG {
        width: 50vw;
    }
    a.phone {
        text-decoration: none;
        position: fixed;
        bottom: 2%;
        right: 2%;
    }
    .phoneIcon {
        width: 10vw;
    }
    .phoneNumber {
        width: 25vw;
    }
}
