.sec7pc {
    display: block;
    text-align: center;
    width: 100vw;
    /*height: 110vh;*/
    background-image: url("/images/backgroundsec5.png");
}

.headersec7pc {
    width: 30vw;
    margin-top: 3%;
}

.contentsec7pc {
    width: 75vw;
}

.footersec7pc {
    width: 100vw;
    /*bottom: 0;*/
    margin-top: -12.5%;
    margin-left: -2%;
}

.sec7mb {
    display: none;
}

@media screen and (max-width: 1100px) {
    .sec7pc {
        display: none;
    }
    .sec7mb {
        display: block;
        background-image: url("/images/Group 12.png");
        text-align: center;
        width: 100vw;
        /*height: 120vh;*/
    }
    .headersec7mb {
        margin-top: 5%;
        width: 65vw;
        margin-left: -10%;
    }
    .line1sec7mb {
        width: 90vw;
        margin-left: 5%;
        margin-top: 3%;
    }
    .line6sec7 {
        width: 88vw;
        margin-left: 4%;
        margin-top: 3%;
    }
    .footersec7mb {
        width: 100vw;
        bottom: 0;
    }
}
